<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnevhfm.qhzvpm@tznvy.pbz</string>
	<key>contactName</key>
	<string>Dariusz Dumicz</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>SyncMate</string>
	<key>uuid</key>
	<string>C76774FD-A6F4-4E22-A9D4-A533CBD4CC0A</string>
</dict>
</plist>
